$primary: #e87d7f;
$secondary: #343525;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f6f6f6;

.adminContent {
  padding-top: 8rem;
}

.serve-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: $primary;
  color: $light;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  svg {
    position: absolute;
    fill: $light;
    right: 2rem;
  }
}
