$primary: #e87d7f;
$secondary: #343525;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f6f6f6;

.joinQueueContainer {
  display: flex;
  flex-direction: column;
}

.waitlist-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; // Space between form elements
  width: 100%;
  position: relative;

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
    gap: 0.3rem;

    .formGroupIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background: #ededed;
      padding: 0.5rem;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    input {
      width: 100%;
      padding: 0.3rem;
      border: none;
      background-color: $lightbg;
      font-size: 1em;
      color: $dark;

      &::placeholder {
        color: $medium;
      }
    }
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: $primary;
  color: $light;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  svg {
    position: absolute;
    fill: $light;
    right: 2rem;
  }
}

.message {
  position: absolute;
  text-align: center;
  padding: 0.7rem;
  border-radius: 10px;
  top: -3.5rem;
  left: 0;
  right: 0;
  margin: auto;

  &.success {
    background-color: #d4edda;
    color: #155724;
  }

  &.error {
    background-color: #f8d7da;
    color: #721c24;
  }
}
