$primary: #e87d7f;
$secondary: #343525;
$dark: #323232;
$light: #ffffff;
$medium: #707070;
$darkbg: #000000;
$lightbg: #f6f6f6;

.waitingListContainer {
  display: flex;
  flex-direction: column;
}

.heroBackground {
  height: 40vh;
  min-height: fit-content;
  border-radius: 0 0 30px 30px;
  display: flex;
  padding: 3rem 0;

  h1 {
    font-family: "Italianno", cursive;
    font-size: 80px;
    line-height: 40px;
    width: 100%;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 200;

      hr {
        color: $lightbg;
      }
    }
  }

  h2 {
    font-weight: 400;
    font-size: 12px;
  }
}

.queueSuccessTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  .queueSuccessIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $secondary;
    padding: 2rem;
  }

  h2 {
    width: fit-content;
    background: $primary;
    color: $light;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
  }
}

.queue-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem 0.5rem;
  width: 100%;

  li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 1rem;

    border-radius: 10px;
    border: 1px solid #ededed;
    background: #f6f6f6;
    box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.25);
    &:last-child {
      border-bottom: none;
    }

    .name {
      font-weight: bold;
      font-size: 1.1em;
      color: #444;
    }
    .pax {
      font-size: 0.9em;
      color: #777;
    }

    .queueListNumber {
      width: fit-content;
      padding: 0.3rem 0.6rem;
      border-radius: 5px;
      background: #828377;
      color: $light;
    }

    .currentQueueListNumber {
      background: $primary;
    }
  }
}

.join-queue-button {
  width: 100%;
  padding: 1rem;
  background-color: $primary;
  color: $light;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
